<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
  <meta http-equiv="X-UA-Compatible" content="IE=9">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no , maximum-scale=1">
  <title>Corona Page page</title>
  <!-- Custom fonts for this template-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" rel="stylesheet"
    type="text/css">
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
    rel="stylesheet">
  <!-- css-links -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>
  <!-- Starts Header Section -->
  <div class="header bg-white py-3 border-bottom">
    <div class="container">
      <div class="row header_rw align-items-center">
        <div class="col-6 col-sm-6">
          <div class="logo_cell">
            <a href="home.html">Apollonius Society For Applied Computation</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Ends Header Section -->

  <!-- Starts Nav Section -->
  <div class="navigation bg-white shadow-sm">
    <div class="container">
      <nav class="navbar navbar-expand-lg p-0 navbar-light bg-white">
        <a class="navbar-brand text-primary p-0 font-wight-medium" href="#"><span
            style="color:#ff1493;">APOLLONIUS</span>|VOICEBOT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item mr-md-3">
              <a class="nav-link text-dark uni-font-size-1 p-0" href="home.html">HOME</a>
            </li>
            <li class="nav-item ml-md-4 mr-md-3">
              <a class="nav-link text-dark uni-font-size-1 p-0" href="about_us.html">ABOUT US</a>
            </li>
            <li class="nav-item ml-md-4 mr-md-3">
              <a class="nav-link text-dark uni-font-size-1 p-0" href="gallery.html">GALLERY</a>
            </li>
            <li class="nav-item ml-md-4 mr-md-3">
              <a class="nav-link text-dark uni-font-size-1 p-0" href="credits.html">CREDITS</a>
            </li>
            <li class="nav-item ml-md-4 mr-md-3">
              <a class="nav-link text-dark uni-font-size-1 p-0" href="emergency_list.html">
                EMERGENCY LIST
              </a>
            </li>
            <li class="nav-item ml-md-4 mr-md-3">
              <a class="nav-link text-dark uni-font-size-1 p-0" href="dengubot.html">TECHNOLOGY</a>
            </li>
            <li class="nav-item ml-md-4">
              <a class="nav-link text-dark uni-font-size-1 p-0" href="contact_us.html">CONTACT US</a>
            </li>
          </ul>
        </div>

      </nav>

    </div>
  </div>
  <!-- Ends Nav Section -->

  <div id="popup">
    <a style="position:fixed; background-color: #D23C69; padding: 2px; top: 500px; z-index: 10; border-radius: 70px; height: 140px; width:140px; font-family: 'Roboto Condensed';"
      href="voicebot.html">
      <div style="width: 80%; height: 80%;padding-left: 20%; padding-top: 15%;"><p style="color: white; font-size: 2vh;">Click to Talk on<br>COVID-19 & DENGUE</p></div>
    </a>
  </div>


  <!-- Starts Main Section -->
  <div class="pt-3 text-center">
    <button type="button" class="btn btn-light">
      <a href="https://www.hsph.harvard.edu/india-center/covid-19/">Harvard School of Public Health's COVID-19 Report</a>
    </button>
  </div>
  
  
    
  </div>
  <div class="main-section py-5">
    <div class="container">
      <div class="row clearfix">
        <h2><b>Coronovirus (COVID-19)</b></h2>
        <p>Coronaviruses (CoV) are a large family of viruses that cause illness ranging from the common cold to more
          severe diseases such as Middle East Respiratory Syndrome (MERS-CoV) and Severe Acute Respiratory Syndrome
          (SARS-CoV). A novel coronavirus (nCoV) is a new strain that has not been previously identified in
          humans.<br>Coronaviruses are zoonotic, meaning they are transmitted between animals and people. Detailed
          investigations found that SARS-CoV was transmitted from civet cats to humans and MERS-CoV from dromedary
          camels to humans. Several known coronaviruses are circulating in animals that have not yet infected
          humans.<br>Common signs of infection include respiratory symptoms, fever, cough, shortness of breath and
          breathing difficulties. In more severe cases, infection can cause pneumonia, severe acute respiratory
          syndrome, kidney failure and even death. <br>Standard recommendations to prevent infection spread include
          regular hand washing, covering mouth and nose when coughing and sneezing, thoroughly cooking meat and eggs.
          Avoid close contact with anyone showing symptoms of respiratory illness such as coughing and sneezing.</p>
        <br>
        <h3><b>Q&A on coronaviruses(COVID-19)</b></h3><br>
        <p>
          <span style=color:blue><b>1. What is coronavirus?</b></span><br>
          Coronaviruses are a large family of viruses which may cause illness in animals or humans. In humans, several
          coronaviruses are known to cause respiratory infections ranging from the common cold to more severe diseases
          such as Middle East Respiratory Syndrome (MERS) and Severe Acute Respiratory Syndrome (SARS). The most
          recently discovered coronavirus causes coronavirus disease COVID-19.<br><br>

          <span style="color: blue;"><b>2. What is COVID-19?</b></span><br>
          COVID-19 is the infectious disease caused by the most recently discovered coronavirus. This new virus and
          disease were unknown before the outbreak began in Wuhan, China, in December 2019.<br><br>

          <span style="color: blue;"><b>3. What are the symptoms of COVID-19?</b></span><br>
          The most common symptoms of COVID-19 are fever, tiredness, and dry cough. Some patients may have aches and
          pains, nasal congestion, runny nose, sore throat or diarrhea. These symptoms are usually mild and begin
          gradually. Some people become infected but don’t develop any symptoms and don't feel unwell. Most people
          (about 80%) recover from the disease without needing special treatment. Around 1 out of every 6 people who
          gets COVID-19 becomes seriously ill and develops difficulty breathing. Older people, and those with underlying
          medical problems like high blood pressure, heart problems or diabetes, are more likely to develop serious
          illness. People with fever, cough and difficulty breathing should seek medical attention.<br><br>

          <span style="color: blue;"><b>4. How does COVID-19 spread?</b></span><br>
          People can catch COVID-19 from others who have the virus. The disease can spread from person to person through
          small droplets from the nose or mouth which are spread when a person with COVID-19 coughs or exhales. These
          droplets land on objects and surfaces around the person. Other people then catch COVID-19 by touching these
          objects or surfaces, then touching their eyes, nose or mouth. People can also catch COVID-19 if they breathe
          in droplets from a person with COVID-19 who coughs out or exhales droplets. This is why it is important to
          stay more than 1 meter (3 feet) away from a person who is sick. WHO is assessing ongoing research on the ways
          COVID-19 is spread and will continue to share us their updated findings.<br><br>

          <span style="color: blue;"><b>4.1. Can the virus that causes COVID-19 be transmitted through the
              air?</b></span><br>Studies to date suggest that the virus that causes COVID-19 is mainly transmitted
          through contact with respiratory droplets rather than through the air.<br><br>

          <span style="color: blue;"><b>4.2. Can CoVID-19 be caught from a person who has no symptoms?</b></span><br>The
          main way the disease spreads is through respiratory droplets expelled by someone who is coughing. The risk of
          catching COVID-19 from someone with no symptoms at all is very low. However, many people with COVID-19
          experience only mild symptoms. This is particularly true at the early stages of the disease. It is therefore
          possible to catch COVID-19 from someone who has, for example, just a mild cough and does not feel ill. WHO is
          assessing ongoing research on the period of transmission of COVID-19 and will continue to share updated
          findings.<br><br>

          <span style="color: blue;"><b>4.3. Can I catch COVID-19 from the feces of someone with the
              disease?</b></span><br>
          The risk of catching COVID-19 from the feces of an infected person appears to be low. While initial
          investigations suggest the virus may be present in feces in some cases, spread through this route is not a
          main feature of the outbreak. WHO is assessing ongoing research on the ways COVID-19 is spread and will
          continue to share new findings. Because this is a risk, however, it is another reason to clean hands
          regularly, after using the bathroom and before eating. <br><br>

          <span style="color: blue;"><b>4.4. What can I do to protect myself and prevent the spreading of the
              disease?</b></span><br>
          Stay aware of the latest information on the COVID-19 outbreak, available on the WHO website and through your
          national and local public health authority. Many countries around the world have seen cases of COVID-19 and
          several have seen outbreaks. Authorities in China and some other countries have succeeded in slowing or
          stopping their outbreaks. However, the situation is unpredictable so check regularly for the latest
          news.<br><b>You can reduce your chances of being infected or spreading COVID-19 by taking some simple
            precautions:</b><br><br>

          i. Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and
          water.Why? Washing your hands with soap and water or using alcohol-based hand rub kills viruses that may be on
          your hands.<br>
          Maintain at least 1 metre (3 feet) distance between yourself and anyone who is coughing or sneezing. Why? When
          someone coughs or sneezes they spray small liquid droplets from their nose or mouth which may contain virus.
          If you are too close, you can breathe in the droplets, including the COVID-19 virus if the person coughing has
          the disease.<br>
          <br>ii. Avoid touching eyes, nose and mouth.
          Why? Hands touch many surfaces and can pick up viruses. Once contaminated, hands can transfer the virus to
          your eyes, nose or mouth. From there, the virus can enter your body and can make you sick.<br>
          <br>iii. Make sure you, and the people around you, follow good respiratory hygiene. This means covering your
          mouth and nose with your bent elbow or tissue when you cough or sneeze. Then dispose of the used tissue
          immediately.
          Why? Droplets spread virus. By following good respiratory hygiene you protect the people around you from
          viruses such as cold, flu and COVID-19.<br>
          <br>iv. Stay home if you feel unwell. If you have a fever, cough and difficulty breathing, seek medical
          attention and call in advance. Follow the directions of your local health authority.
          Why? National and local authorities will have the most up to date information on the situation in your area.
          Calling in advance will allow your health care provider to quickly direct you to the right health facility.
          This will also protect you and help prevent spread of viruses and other infections.<br>
          <br>v. Stay informed on the latest developments about COVID-19. Follow advice given by your healthcare
          provider, your national and local public health authority or your employer on how to protect yourself and
          others from COVID-19.
          Why? National and local authorities will have the most up to date information on whether COVID-19 is spreading
          in your area. They are best placed to advise on what people in your area should be doing to protect
          themselves.<br>
          <br>vi. Keep up to date on the latest COVID-19 hotspots (cities or local areas where COVID-19 is spreading
          widely). If possible, avoid traveling to places – especially if you are an older person or have diabetes,
          heart or lung disease.
          Why? You have a higher chance of catching COVID-19 in one of these areas.<br><br>

          <b>Protection measures for persons who are in or have recently visited (past 14 days) areas where COVID-19 is
            spreading:</b><br>
          <b>Follow the guidance outlined above (Protection measures for everyone):</b><br><br>
          i. Self-isolate by staying at home if you begin to feel unwell, even with mild symptoms such as headache, low
          grade fever (37.3 C or above) and slight runny nose, until you recover. If it is essential for you to have
          someone bring you supplies or to go out, e.g. to buy food, then wear a mask to avoid infecting other people.
          Why? Avoiding contact with others and visits to medical facilities will allow these facilities to operate more
          effectively and help protect you and others from possible COVID-19 and other viruses.<br><br>
          ii. If you develop fever, cough and difficulty breathing, seek medical advice promptly as this may be due to a
          respiratory infection or other serious condition. Call in advance and tell your provider of any recent travel
          or contact with travelers. Why? Calling in advance will allow your health care provider to quickly direct you
          to the right health facility. This will also help to prevent possible spread of COVID-19 and other
          viruses.<br><br>

          <span style="color: blue;"><b>5. How likely am I to catch COVID-19?</b></span><br>
          The risk depends on where you are - and more specifically, whether there is a COVID-19 outbreak unfolding
          there.<br>For most people in most locations the risk of catching COVID-19 is still low. However, there are now
          places around the world (cities or areas) where the disease is spreading. For people living in, or visiting,
          these areas the risk of catching COVID-19 is higher. Governments and health authorities are taking vigorous
          action every time a new case of COVID-19 is identified. Be sure to comply with any local restrictions on
          travel, movement or large gatherings. Cooperating with disease control efforts will reduce your risk of
          catching or spreading COVID-19.<br>COVID-19 outbreaks can be contained and transmission stopped, as has been
          shown in China and some other countries. Unfortunately, new outbreaks can emerge rapidly. It’s important to be
          aware of the situation where you are or intend to go.<br><br>

          <span style="color: blue;"><b>6. Should I worry about COVID-19?</b></span><br>
          Illness due to COVID-19 infection is generally mild, especially for children and young adults. However, it can
          cause serious illness: about 1 in every 5 people who catch it need hospital care. It is therefore quite normal
          for people to worry about how the COVID-19 outbreak will affect them and their loved ones.<br>We can channel
          our concerns into actions to protect ourselves, our loved ones and our communities. First and foremost among
          these actions is regular and thorough hand-washing and good respiratory hygiene. Secondly, keep informed and
          follow the advice of the local health authorities including any restrictions put in place on travel, movement
          and gatherings.<br><br>

          <span style="color: blue;"><b>7. Who is at risk of developing serious illness?</b></span><br>
          While we are still learning about how COVID-2019 affects people, older persons and persons with pre-existing
          medical conditions (such as high blood pressure, heart disease, lung disease, cancer or diabetes) appear to
          develop serious illness more often than others. <br><br>

          <span style="color: blue;"><b>8. Are antibiotics effective in preventing or treating COVID-19?</b></span><br>
          No. Antibiotics do not work against viruses, they only work on bacterial infections. COVID-19 is caused by a
          virus, so antibiotics do not work. Antibiotics should not be used as a means of prevention or treatment of
          COVID-19. They should only be used as directed by a physician to treat a bacterial infection. <br><br>

          <span style="color: blue;"><b>9. Is there a vaccine, drug or treatment for COVID-19?</b></span><br>
          Not yet. To date, there is no vaccine and no specific antiviral medicine to prevent or treat COVID-2019.
          However, those affected should receive care to relieve symptoms. People with serious illness should be
          hospitalized. Most patients recover thanks to supportive care.<br>Possible vaccines and some specific drug
          treatments are under investigation. They are being tested through clinical trials. WHO is coordinating efforts
          to develop vaccines and medicines to prevent and treat COVID-19.<br>The most effective ways to protect
          yourself and others against COVID-19 are to frequently clean your hands, cover your cough with the bend of
          elbow or tissue, and maintain a distance of at least 1 meter (3 feet) from people who are coughing or
          sneezing.<br><br>

          <span style="color: blue;"><b>10. Is COVID-19 same as SARS?</b></span><br>
          No. The virus that causes COVID-19 and the one that causes Severe Acute Respiratory Syndrome (SARS) are
          related to each other genetically, but they are different. SARS is more deadly but much less infectious than
          COVID-19. There have been no outbreaks of SARS anywhere in the world since 2003.<br><br>

          <span style="color: blue;"><b>11. Should I wear masks to protect myself?</b></span><br>
          Only wear a mask if you are ill with COVID-19 symptoms (especially coughing) or looking after someone who may
          have COVID-19. Disposable face mask can only be used once. If you are not ill or looking after someone who is
          ill then you are wasting a mask. There is a world-wide shortage of masks, so WHO urges people to use masks
          wisely.<br>WHO advises rational use of medical masks to avoid unnecessary wastage of precious resources and
          mis-use of masks.<br>The most effective ways to protect yourself and others against COVID-19 are to frequently
          clean your hands, cover your cough with the bend of elbow or tissue and maintain a distance of at least 1
          meter (3 feet) from people who are coughing or sneezing. <br><br>

          <span style="color: blue;"><b>12. How to put on, use, take off and dispose a mask?</b></span><br>
          i. Remember, a mask should only be used by health workers, care takers, and individuals with respiratory
          symptoms, such as fever and cough.<br>
          ii. Before touching the mask, clean hands with an alcohol-based hand rub or soap and water
          iii. Take the mask and inspect it for tears or holes.<br>
          iv. Orient which side is the top side (where the metal strip is).<br>
          v. Ensure the proper side of the mask faces outwards (the coloured side).<br>
          vi. Place the mask to your face. Pinch the metal strip or stiff edge of the mask so it moulds to the shape of
          your nose.<br>
          vii. Pull down the mask’s bottom so it covers your mouth and your chin.<br>
          viii. After use, take off the mask; remove the elastic loops from behind the ears while keeping the mask away
          from your face and clothes, to avoid touching potentially contaminated surfaces of the mask.<br>
          ix. Discard the mask in a closed bin immediately after use.<br>
          x. Perform hand hygiene after touching or discarding the mask – Use alcohol-based hand rub or, if visibly
          soiled, wash your hands with soap and water.<br><br>

          <span style="color: blue;"><b>13. How long is the incubation period for COVID-19?</b></span><br>
          The “incubation period” means the time between catching the virus and beginning to have symptoms of the
          disease. Most estimates of the incubation period for COVID-19 range from 1-14 days, most commonly around five
          days. These estimates will be updated as more data become available.<br><br>

          <span style="color: blue;"><b>14. Can humans become infected with COVID-19 from an animal
              source?</b></span><br>
          Coronaviruses are a large family of viruses that are common in animals. Occasionally, people get infected with
          these viruses which may then spread to other people. For example, SARS-CoV was associated with civet cats and
          MERS-CoV is transmitted by dromedary camels. Possible animal sources of COVID-19 have not yet been
          confirmed.<br>To protect yourself, such as when visiting live animal markets, avoid direct contact with
          animals and surfaces in contact with animals. Ensure good food safety practices at all times. Handle raw meat,
          milk or animal organs with care to avoid contamination of uncooked foods and avoid consuming raw or
          undercooked animal products.<br><br>

          <span style="color: blue;"><b>15. Can I catch COVID-19 from my pet?</b></span><br>
          No. There is no evidence that companion animals or pets such as cats and dogs have been infected or could
          spread the virus that causes COVID-19.<br><br>

          <span style="color: blue;"><b>16. How long does the virus survive on surfaces?</b></span><br>
          It is not certain how long the virus that causes COVID-19 survives on surfaces, but it seems to behave like
          other coronaviruses. Studies suggest that coronaviruses (including preliminary information on the COVID-19
          virus) may persist on surfaces for a few hours or up to several days. This may vary under different conditions
          (e.g. type of surface, temperature or humidity of the environment).<br>If you think a surface may be infected,
          clean it with simple disinfectant to kill the virus and protect yourself and others. Clean your hands with an
          alcohol-based hand rub or wash them with soap and water. Avoid touching your eyes, mouth, or nose.<br><br>

          <span style="color: blue;"><b>17. Is it safe to receive a package from any area infected with
              COVID-19?</b></span><br>
          Yes. The likelihood of an infected person contaminating commercial goods is low and the risk of catching the
          virus that causes COVID-19 from a package that has been moved, travelled, and exposed to different conditions
          and temperature is also low. <br><br>

          <span style="color: blue;"><b>18. Is there anythind else I should not do?</b></span><br>
          The following measures <b>ARE NOT</b> effective against COVID-2019 and can be harmful:<br>
          i.Smoking<br>
          ii.Taking traditional herbal remedies<br>
          iii.Wearing multiple masks<br>
          iv.Taking self-medication such as antibiotics<br>
          In any case, if you have fever, cough and difficulty breathing seek medical care early to reduce the risk of
          developing a more severe infection and be sure to share your recent travel history with your health care
          provider.<br><br>
        </p>

        <br>
        <h3><b>Myths on COVID-19 (as per WHO)</b></h3><br>
        <p>
          <span style="color: blue;"><b>1. Does COVID-19 virus can be transmitted in areas with hot and humid climates
              ?</b></span><br>
          From the evidence so far, the COVID-19 virus can be transmitted in ALL AREAS, including areas with hot and
          humid weather. Regardless of climate, adopt protective measures if you live in, or travel to an area reporting
          COVID-19. The best way to protect yourself against COVID-19 is by frequently cleaning your hands. By doing
          this you eliminate viruses that may be on your hands and avoid infection that could occur by then touching
          your eyes, mouth, and nose. <br><br>

          <span style="color: blue;"><b>2. Can Cold weather and snow CANNOT kill the new coronavirus ?</b></span><br>
          There is no reason to believe that cold weather can kill the new coronavirus or other diseases. The normal
          human body temperature remains around 36.5°C to 37°C, regardless of the external temperature or weather. The
          most effective way to protect yourself against the new coronavirus is by frequently cleaning your hands with
          alcohol-based hand rub or washing them with soap and water. <br><br>

          <span style="color: blue;"><b>3. Does taking a hot bath prevent the new coronavirus disease
              ?</b></span><br>
          Taking a hot bath will not prevent you from catching COVID-19. Your normal body temperature remains around
          36.5°C to 37°C, regardless of the temperature of your bath or shower. Actually, taking a hot bath with
          extremely hot water can be harmful, as it can burn you. The best way to protect yourself against COVID-19 is
          by frequently cleaning your hands. By doing this you eliminate viruses that may be on your hands and avoid
          infection that coud occur by then touching your eyes, mouth, and nose. <br><br>

          <span style="color: blue;"><b>4. Is the new coronavirus be transmitted through mosquito bites ?
            </b></span><br>
          To date there has been no information nor evidence to suggest that the new coronavirus could be transmitted by
          mosquitoes. The new coronavirus is a respiratory virus which spreads primarily through droplets generated when
          an infected person coughs or sneezes, or through droplets of saliva or discharge from the nose. To protect
          yourself, clean your hands frequently with an alcohol-based hand rub or wash them with soap and water. Also,
          avoid close contact with anyone who is coughing and sneezing. <br><br>

          <span style="color: blue;"><b>5. Are hand dryers effective in killing the new coronavirus ?</b></span><br>
          No. Hand dryers are not effective in killing the 2019-nCoV. To protect yourself against the new coronavirus,
          you should frequently clean your hands with an alcohol-based hand rub or wash them with soap and water. Once
          your hands are cleaned, you should dry them thoroughly by using paper towels or a warm air dryer. <br><br>

          <span style="color: blue;"><b>6. Can an ultraviolet disinfection lamp kill the new coronavirus
              ?</b></span><br>
          UV lamps should not be used to sterilize hands or other areas of skin as UV radiation can cause skin
          irritation. <br><br>

          <span style="color: blue;"><b>7. How effective are thermal scanners in detecting people infected with the new
              coronavirus ?</b></span><br>
          Thermal scanners are effective in detecting people who have developed a fever (i.e. have a higher than normal
          body temperature) because of infection with the new coronavirus.
          However, they cannot detect people who are infected but are not yet sick with fever. This is because it takes
          between 2 and 10 days before people who are infected become sick and develop a fever.<br><br>

          <span style="color: blue;"><b>8. Can spraying alcohol or chlorine all over your body kill the new coronavirus
              ?
            </b></span><br>
          No. Spraying alcohol or chlorine all over your body will not kill viruses that have already entered your body.
          Spraying such substances can be harmful to clothes or mucous membranes (i.e. eyes, mouth). Be aware that both
          alcohol and chlorine can be useful to disinfect surfaces, but they need to be used under appropriate
          recommendations. <br><br>

          <span style="color: blue;"><b>9. Can pets at home spread the new coronavirus (2019-nCoV) ?</b></span><br>
          At present, there is no evidence that companion animals/pets such as dogs or cats can be infected with the new
          coronavirus. However, it is always a good idea to wash your hands with soap and water after contact with pets.
          This protects you against various common bacteria such as E.coli and Salmonella that can pass between pets and
          humans. <br><br>

          <span style="color: blue;"><b>10. Do vaccines against pneumonia protect you against the new
              coronavirus ?</b></span><br>
          No. Vaccines against pneumonia, such as pneumococcal vaccine and Haemophilus influenza type B (Hib) vaccine,
          do not provide protection against the new coronavirus.
          The virus is so new and different that it needs its own vaccine. Researchers are trying to develop a vaccine
          against 2019-nCoV, and WHO is supporting their efforts.
          Although these vaccines are not effective against 2019-nCoV, vaccination against respiratory illnesses is
          highly recommended to protect your health. <br><br>

          <span style="color: blue;"><b>11. Can regularly rinsing your nose with saline help prevent infection with the
              new coronavirus ? </b></span><br>
          No. There is no evidence that regularly rinsing the nose with saline has protected people from infection with
          the new coronavirus.
          There is some limited evidence that regularly rinsing nose with saline can help people recover more quickly
          from the common cold. However, regularly rinsing the nose has not been shown to prevent respiratory
          infections. <br><br>

          <span style="color: blue;"><b>12. Can eating garlic help prevent infection with the new coronavirus
              ?</b></span><br>
          Garlic is a healthy food that may have some antimicrobial properties. However, there is no evidence from the
          current outbreak that eating garlic has protected people from the new coronavirus.<br><br>

          <span style="color: blue;"><b>13. Does the new coronavirus affect older people, or are younger people also
              susceptible ?</b></span><br>
          People of all ages can be infected by the new coronavirus (2019-nCoV). Older people, and people with
          pre-existing medical conditions (such as asthma, diabetes, heart disease) appear to be more vulnerable to
          becoming severely ill with the virus.
          WHO advises people of all ages to take steps to protect themselves from the virus, for example by following
          good hand hygiene and good respiratory hygiene. <br><br>

          <span style="color: blue;"><b>14. Are antibiotics effective in preventing and treating the new coronavirus ?
            </b></span><br>
          No, antibiotics do not work against viruses, only bacteria.
          The new coronavirus (2019-nCoV) is a virus and, therefore, antibiotics should not be used as a means of
          prevention or treatment.
          However, if you are hospitalized for the 2019-nCoV, you may receive antibiotics because bacterial co-infection
          is possible. <br><br>

          <span style="color: blue;"><b>15. Are there any specific medicines to prevent or treat the new coronavirus
              ?</b></span><br>
          To date, there is no specific medicine recommended to prevent or treat the new coronavirus (2019-nCoV).
          However, those infected with the virus should receive appropriate care to relieve and treat symptoms, and
          those with severe illness should receive optimized supportive care. Some specific treatments are under
          investigation, and will be tested through clinical trials. WHO is helping to accelerate research and
          development efforts with a range or partners. <br><br>
        </p>

        <span style="color: blue;"><b><p><h3>Files to note:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3></p><br></b></span>
        <ul>
          <li><a href="../static/coronapdf/Advisory_to_IDSP_case_definition_Novel_Coronavirus_China.pdf">Advisory to
              IDSP case definition Novel Coronavirus China</a></li>
          <li><a href="../static/coronapdf/airport-preventing-spread-of-coronavirus-disease-2019.pdf">Advice for
              Airports to prevent the spreading of Coronavirus </a></li>
          <li><a href="../static/coronapdf/Ambulance_transfer-1.pdf">Advice For Ambulance Transfer</a></li>
          <li><a href="../static/coronapdf/Containment_plan.pdf.pdf">Containment plan</a></li>
          <li><a href="../static/coronapdf/corona_revised_draft.pdf">About Corona Virus(in BENGALI)</a></li>
          <li><a href="../static/coronapdf/corona_virus.pdf">About Corona Virus(IN HINDI)</a></li>
          <li><a href="../static/coronapdf/corona_virus_FAQ_HINDI.pdf">Corona Virus FAQ (in HINDI)</a></li>
          <li><a href="../static/coronapdf/Letter_to_Hosp_Supers_COVID.pdf">Preparedness of Hospitals</a></li>
          <li><a href="../static/coronapdf/Poster.pdf">Poster of the Do's and Dont's to prevent the spreading of
              CoronaVirus </a></li>
          <li><a href="../static/coronapdf/school_advisory.pdf">Advice for Schools</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 banner-photo">
        <img src="../static/coronapics/IMG-20200131-WA0008.jpg" alt="" width="90%"
          style="position: relative;top:50%;left: 50%;transform: translate(-50%,-50%);margin: 10px;">
      </div>
      <div class="col-md-3 banner-photo">
        <img src="../static/coronapics/IMG-20200131-WA0009.jpg" alt="" width="90%"
          style="position: relative;top:50%;left: 50%;transform: translate(-50%,-50%);margin: 10px;">
      </div>
      <div class="col-md-3 banner-photo">
        <img src="../static/coronapics/IMG-20200131-WA0010.jpg" alt="" width="90%"
          style="position: relative;top:50%;left: 50%;transform: translate(-50%,-50%);margin: 10px;">
      </div>
      <div class="col-md-3 banner-photo">
        <img src="../static/coronapics/IMG-20200131-WA0014.jpg" alt="" width="90%"
          style="position: relative;top:50%;left: 50%;transform: translate(-50%,-50%);margin: 10px;">
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 banner-photo">
        <img src="../static/coronapics/IMG-20200131-WA0011.jpg" alt="" width="90%"
          style="position: relative;top:50%;left: 50%;transform: translate(-50%,-50%);margin: 10px;">
      </div>
      <div class="col-md-3 banner-photo">
        <img src="../static/coronapics/IMG-20200131-WA0012.jpg" alt="" width="90%"
          style="position: relative;top:50%;left: 50%;transform: translate(-50%,-50%);margin: 10px;">
      </div>
      <div class="col-md-3 banner-photo">
        <img src="../static/coronapics/IMG-20200131-WA0013.jpg" alt="" width="90%"
          style="position: relative;top:50%;left: 50%;transform: translate(-50%,-50%);margin: 10px;">
      </div>
      <div class="col-md-3 banner-photo">
        <img src="../static/coronapics/IMG-20200131-WA0015.jpg" alt="" width="90%"
          style="position: relative;top:50%;left: 50%;transform: translate(-50%,-50%);margin: 10px;">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 banner-photo">
        <img src="../static/coronapics/IMG-20200131-WA0016.jpg" alt="" width="90%"
          style="position: relative;top:50%;left: 50%;transform: translate(-50%,-50%);margin: 10px;">
      </div>
      <div class="col-md-3 banner-photo">
        <img src="../static/coronapics/IMG-20200131-WA0017.jpg" alt="" width="90%"
          style="position: relative;top:50%;left: 50%;transform: translate(-50%,-50%);margin: 10px;">
      </div>
      <div class="col-md-3 banner-photo">
        <img src="../static/coronapics/IMG-20200131-WA0018.jpg" alt="" width="90%"
          style="position: relative;top:50%;left: 50%;transform: translate(-50%,-50%);margin: 10px;">
      </div>
      <div class="col-md-3 banner-photo">
        <img src="../static/coronapics/IMG-20200131-WA0020.jpg" alt="" width="90%"
          style="position: relative;top:50%;left: 50%;transform: translate(-50%,-50%);margin: 10px;">
      </div>
    </div>


    <div class="contain-iframe">
      <iframe src="https://www.youtube.com/embed/DZsUCW7eLvU" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>





    <!-- Ens Main Section -->
    <footer class="ftr">
      <div class="row">
        <div class="col-12 text-md-center text-left">
          <p>
            <h5>1st Multilingual Humanoid Conversational AI for Public Health Managment In The World &copy;</h5>
          </p>
  
          <p>Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved <i class="fa fa-email"
              aria-hidden="true"></i> by <a href="#" target="_blank">Apollonius </a>: Under The Guidance Of Dr. Amitabha
            Bhattacharya (MBBS(CMC,Cal),D.P.H(Cal))<br>
            <ul style="color: red; background-color: #acaaaa; padding: 10px;">
              <li>
                <div class="text-center">
                  <h3 style="color: red;">Disclaimer: </h3>
                </div>
                
              </li>
              <li>
                Issued In The Public Interest & Awareness Purpose Only & All The Informations In This Website Are
                Collected Online From <a href="https://www.who.int/">www.who.int</a>
              </li>
              <li>
                We Respect Data Privacy & We Are Not Storing Or Capturing Any Personal Data Through Our VoiceBot.
              </li>
              <li>
                No Password No Email ID No personal information whatsoever is required to access our website and the
                voicebot
              </li>
              <li>
                No Money or Donation is charged for using this voicebot. No Financial Data is required.
              </li>
              <li>
                This Is Dedicated For The Global Citizen For The Public Health Awareness Only
              </li>
              <li>
                We Respect & Comply with the "The Cyber Laws" as contained in the Information Technology Act, 2000 (“IT
                Act”) of India and the Cyber Security Protocols as laid down by the WHO.
              </li>
  
            </ul>
          </p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
      </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>

</html>